@model DuyetVaySieuToc.Models.DataModel.NGUOIDUNGVAY

@{
    ViewBag.Title = "Xóa khách hàng vay";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_LayoutAdmin.cshtml";
}


<h3 style="color:red;">Bạn có chắc muốn xóa khách hàng này?</h3>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-12 col-md-6">
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.MATINHTRANG)
            @Html.HiddenFor(model => model.MATHONGBAO)
            <div class="form-group">
                <label>Họ và tên</label>
                @Html.TextBoxFor(n => n.HOTEN, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.HOTEN, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Số điện thoại</label>
                @Html.TextBoxFor(n => n.SDT, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Chứng minh nhân dân</label>
                @Html.TextBoxFor(n => n.CMND, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.CMND, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                <label>Địa chỉ</label>
                @Html.TextBoxFor(n => n.DIACHI, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.DIACHI, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Tôi có</label>
                @Html.TextBoxFor(n => n.VAYTHEO, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.VAYTHEO, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Ngày đăng ký</label>
                @Html.TextBoxFor(n => n.NGAYDANGKY, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.NGAYDANGKY, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="pull-left">
        <a href="@Url.Action("Index")" class="btn btn-warning margin-right">
            <span class="glyphicon glyphicon-remove"></span> Quay về
        </a>
    </div>
    <div class="pull-right">
        <button type="submit" class="btn btn-success margin-right saveluu">
            <span class="glyphicon glyphicon-save"></span>  Xóa
        </button>
    </div>
}

