@using DuyetVaySieuToc.Models.DataModel
@model NGUOIDUNG

@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_LayoutAdmin.cshtml";
    string url = Request.Url.PathAndQuery;
    NGUOIDUNG tv = (NGUOIDUNG)Session["taiKhoan"];
}


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Cập nhập mật khẩu</h4>
</div>
<div class="col-md-12" style="margin:10px 0">
    <span style="margin:5px">Mật khẩu cũ</span>
    @Html.Password("Pass", "", htmlAttributes: new { @placeholder = "Nhập mật khẩu cũ", @class = "form-control" })
</div>
<div class="col-md-12" style="margin:10px 0">
    <span style="margin:5px">Mật khẩu mới</span>
    @Html.Password("NewPass", "", htmlAttributes: new { @placeholder = "Nhập mật khẩu mới", @class = "form-control" })
</div>
<div class="col-md-12" style="margin:10px 0">
    <span style="margin:5px">Nhập lại mật khẩu mới</span>
    @Html.Password("ReNewPass", "", htmlAttributes: new { @placeholder = "Nhập lại mật khẩu mới", @class = "form-control" })
</div>
<input type="hidden" value="@tv.MAND" id="UsernewPasss" />
<input type="hidden" value="@url" name="url" />

<div class="modal-footer" style="border-top: 0px solid #e5e5e5;">
    <p style="color:red;text-align:center" id="errpass"></p>
    <input type="submit" class="btn btn-success" value="Cập nhập" id="pwUpdate" />
</div>
<div class="pull-left">
    <a href="@Url.Action("Index")" class="btn btn-warning margin-right">
        <span class="glyphicon glyphicon-remove"></span> Quay về
    </a>
</div>
<link href="~/Content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/toastr.js"></script>

<script>
                $(document).ready(function () {
                    $('#pwUpdate').click(function () {
                        var passwprdold = $('#Pass').val();
                        var passnew = $('#NewPass').val();
                        var renewpass = $('#ReNewPass').val();
                        var useruppass = $('#UsernewPasss').val();
                        loiup = 0;

                        if (passnew.length  < 6 || renewpass.length < 6)
                        {
                            loiup++;
                            toastr.warning("Mật khẩu mới phải lớn hơn 6 ký tự");
                        }
                        if (passnew != renewpass) {
                            loiup++;
                            toastr.warning("Mật khẩu không trùng khớp");
                        }
                        if (passnew == passwprdold)
                        {
                            loiup++;
                            toastr.warning("Mật khẩu mới trùng mật khẩu cũ");
                        }

                        if (loiup == 0) {
                            $.ajax({
                                type: 'Post',
                                url: '@Url.Action("UpdatePassWord","Home")',
                                data: {
                                    User: useruppass,
                                    Pass: passwprdold,
                                    NewPass: passnew
                                },
                                success: function (ketqua) {
                                    if (ketqua == "Cập nhật thành công") {


                                        window.location.reload();
                                        toastr.success("Cập nhật thành công");

                                    }

                                }
                            })
                        }
                    });
                });
</script>
@if (TempData["ThongBao"] != null)
{
    <script>


        toastr.success("@TempData["ThongBao"]");


        $(function () {
            toastr.options =
    {
        "closeButton": true,
        "debug": true,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "1000",
        "hideDuration": "1000",
        "timeOut": "2000",
        "extendedTimeOut": "800",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"

    };
        });

    </script>

}
else if (TempData["ThongBaoLoi"] != null)
{
    <script>
        toastr.options =
{
    "closeButton": true,
    "debug": true,
    "newestOnTop": false,
    "progressBar": true,
    "positionClass": "toast-top-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "900",
    "hideDuration": "3000",
    "timeOut": "2500",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"

};
        toastr.error("@TempData["ThongBaoLoi"]");

    </script>

}
<script>
                $('input').keypress(function (e) {
                    var key = e.which;
                    if (key == 13) {
                        var passwprdold = $('#Pass').val();
                        var passnew = $('#NewPass').val();
                        var renewpass = $('#ReNewPass').val();
                        var useruppass = $('#UsernewPasss').val();
                        loiup = 0;
                        if (passnew != renewpass)
                        {
                            loiup++;
                            toastr.warning("Mật khẩu không trùng khớp");
                        }
                        if (loiup == 0) {
                            $.ajax({
                                type: 'Get',
                                url: '@Url.Action("UpdatePassWord","Home")',
                                data: {
                                    User: useruppass,
                                    Pass: passwprdold,
                                    NewPass: passnew
                                },
                                success: function (ketqua) {
                                    if (ketqua == "Cập nhật thành công") {


                                        window.location.reload();
                                        toastr.success(ketqua);

                                    }



                                }
                            })
                        }
                    }
                });
</script>

